$ff: 'Roboto Condensed', sans-serif;
.overflow__hidden-off {
  overflow: inherit !important;
}

.btn-block-white-div {
  position: relative;
  top: -23px;
  left: 5px;
  &__btn {
    color: #fff;
    position: relative;
    font-family: "Roboto Condensed";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    z-index: 999;
    &::before {
      content: "";
      position: absolute;
      left: -5px;
      z-index: -1;
      width: 10px;
      height: 20px;
      background: #de910a;
    }
    &::after {
      content: url(../_img/_svg/right-white-arrow.svg);
      margin-left: 1rem;
      position: absolute;
      top: 2px;
    }
    &:hover {
      transition: .5s;
      color: #444;
    }
    &:hover, &:visited, &:focus {
      text-decoration: none;
    }
    &:hover:before {
      transition: .5s;
      width: 105%;
    }
  }
}

.btn-block-div {
  position: relative;
  top: -23px;
  left: 5px;
  &__btn {
    color: #444444;
    position: relative;
    font-family: "Roboto Condensed";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    z-index: 999;
    &::before {
      content: "";
      position: absolute;
      left: -5px;
      z-index: -1;
      width: 10px;
      height: 20px;
      background: #de910a;
    }
    &::after {
      content: url(../_img/_svg/right-arrow__2.svg);
      margin-left: 1rem;
      position: absolute;
      top: 2px;
    }
    &:hover {
      transition: .5s;
      color: #444;
    }
    &:hover, &:visited, &:focus {
      text-decoration: none;
    }
    &:hover:before {
      transition: .5s;
      width: 105%;
    }
  }
}

/*сэндвич*/
.navbar-toggler {
  padding: 0;
  background: #a92100;
  border: 1px #a92100 solid;
  border-radius: 0;
  width: 90px;
  height: 30px;
  position: relative;
  span.navbar-toggler-icon {
    height: 25px;
  }
  &-menu {
    left: -16px;
    position: relative;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span.rotate {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  position: relative;
  left: 58px;
  top: -18px;
  opacity: 1;
}

.navbar-toggler span.rotate:nth-child(2),
.navbar-toggler span.rotate:nth-child(4) {
  transition: transform 1s ease-in-out;
}

.navbar-toggler:not(.collapsed) span.rotate:nth-child(2) {
  position: absolute;
  left: 58px;
  top: 9px;
  transform: rotate(1935deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span.rotate:nth-child(3) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span.rotate:nth-child(4) {
  position: absolute;
  left: 58px;
  top: 9px;
  transform: rotate(-1935deg);
  opacity: 0.9;
}

/*сэндвич закончился*/

.navbar {
  padding: 0 6%;
  min-height: 103px;
  .navbar-brand {
    margin-right: 2.5%;
  }
  .collapse {
    .navbar-nav {
      width: 100%;
      max-width: 703px;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 14px;
      flex-wrap: wrap;
      .nav-item__phone {
        color: #444444;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-right: 5%;
        .nav-link {
          border-bottom: 1px dashed #444444;
          padding: 8px 0 0 0;
          transition: .5s;
          &:hover {
            border-bottom: 1px solid #a92200;
          }
        }
      }
      .nav-item {
        color: #444444;
        font-family: "Roboto Condensed";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        transition: .5s;
        .nav-link {
          transition: .5s;
          &:hover {
            color: #a92200;
          }
        }
      }
      @media all and (max-width: 962px) {
        .nav-item {
          margin: 0 2%;
        }
      }
    }
    &-btnblock {
      width: 28%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      flex-wrap: wrap;
      &-drop {
        position: relative;
        &__btn {
          position: relative;
          background: transparent;
          border: 1px solid #cecece;
          border-radius: 22px;
          color: #444444;
          font-family: "Roboto Condensed";
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          height: 43px;
          min-width: 75px;
          transition: .5s;
          &:hover {
            background: #a92100;
            color: white;
            border: 1px solid white;
          }
          &::after {
            content: url("../_img/_svg/2-layers.svg");
            border: none;
            position: absolute;
            left: 40px;
            top: 17px;
            transition: .5s;
          }
          &:hover::after {
            transform: rotate(540deg);
            left: 48px;
            top: 23px;
          }

        }

      }
      &-wide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 66%;
        &__btn {
          width: 100%;
          min-width: 118px;
          height: 44px;
          color: #ffffff;
          font-family: "Roboto Condensed";
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.75px;
          border: 1px solid #a92100;
          border-radius: 22px;
          background: #a92100;
          &:hover {
            background: white;
            border: #a92100 1px solid;
            color: #a92100;
          }

        }
      }
      @media all and (max-width: 1247px) {
        .collapse-btnblock-drop {
          margin: auto;
        }
        .collapse-btnblock-wide {
          margin: 5px auto 0;
        }
      }
    }
    @media all and (max-width: 962px) {
      .collapse-btnblock {
        width: 100%;
        justify-content: space-around;
      }
    }

  }
}

.frontslider-block {
  width: 100%;
  &-slider {
    &-slide {
      background-position: center;
      background-size: cover;
      width: 100%;
      min-height: 100%;
      height: calc(100vh - 103px);
      display: flex;
      background-color: rgba(0, 0, 0, 0.2);
      &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        &-block {
          position: relative;
          left: -39px;

          &__h {
            color: #fff;
            font-family: Roboto Condensed;
            font-size: 66px;
            font-weight: 700;
            line-height: 66px;
            letter-spacing: 0.82px;
            margin-top: 110px;
          }
          &__p {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 18px;
            font-weight: 400;
            margin-top: 9px;
            letter-spacing: 0.2px;
          }
          @media all and (max-width: 768px) {
            .frontslider-block-slider-slide-content-block__h {
              color: #ffffff;
              font-family: "Roboto Condensed";
              font-size: 30px;
              font-weight: 700;
              letter-spacing: 0.34px;
              line-height: 35px;
            }
            .frontslider-block-slider-slide-content-block__p {
              color: #ffffff;
              font-family: "Roboto Condensed";
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.2px;
            }
            .frontslider-block-slider-slide-content-block {
              left: 22px;
            }
          }
          &__btn {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 58px;
            .btn-block-div__btn {
              color: white;
            }
          }
        }
        @media all and (max-width: 768px) {
          .frontslider-block-slider-slide-content-block {
            left: 22px;
            width: 95%;
          }
        }

      }
      &-scroll {
        display: flex;
        flex-direction: row;
        justify-content: end;
        &__btn {

          img {
            margin: auto;
          }
        }
      }
    }
    &-first {

    }
    &-second {

    }
    &-third {

    }
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    width: 88%;
    position: relative;
    top: -18vh;
    li {
      width: 100%;
      &:hover, &:focus {
        border: none !important;
      }

      button {
        width: 100%;
        color: transparent;
        height: 2px;
        background: #ffffff;
        opacity: 0.4;
        border: none;
        &:hover, &:focus {
          border: none !important;
        }
      }

    }
    .slick-active {
      background: #f89e00;
      height: 4px;
      border: none;
      z-index: 555;
      button {
        &:hover, &:focus {
          border: none;
        }
      }
    }
  }
}

.content {
  max-width: 1200px;
  margin: auto;
}

.pros-head {
  &__h {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.45px;
    letter-spacing: 0.41px;
  }
  hr {
    color: #a92100;
    background-color: #a92100;
    height: 4px;
    width: 94px;
    float: left;
    margin-top: 16px;
  }
}

.col-without-paddings {
  padding-left: 0;
  padding-right: 0;
}

.row-card {

  &-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-left {
    }
    &-center {

    }
    &-right {
    }
  }
}

.card {
  border: none;
  .card-body {
    padding: 0;
    .card-title {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      &__h {
        color: #f89e00;
        font-size: 75px;
        font-weight: 400;
        height: 100px;
        margin-top: 6px;
      }
      &__top {
        color: #f89e00;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 700;
        padding-top: 36px;
        padding-left: 13px;
      }

    }
    .card-text {
      color: #444;
      font-family: Roboto Condensed;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.2px;
      padding-top: 10px;
    }
    .card-btnblock {
      display: inline-block;
      margin-top: 36px;

      @media all and (max-width: 1300px) {
        span.display-none {
          display: none;
        }
      }
      &-arrow {
      }
    }
    .card-btnblock:hover {
      .card-btnblock__btn {
        background: url("../_img/_svg/yellow-backgr.svg") repeat-x;

      }
    }
  }
}

.white-block {
  background: url("../_img/bitmap-backgr.png");
  background-position-x: center;
  background-size: cover;
  width: 100%;
  margin-top: 57px;
}

@media all and (max-width: 992px) {
  .white-block {
    background: url("../_img/bitmap-backgr.png") no-repeat;
    background-size: cover;
    background-position-x: center;
  }
}

.pros-head-white {
  margin-top: 82px;
  &__h {
    color: white;
  }
  hr {
    color: white;
    background-color: white;
  }
  &__p {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-top: 50px;
  }
}

.o-card {
  background: #a92100;
  &-content {
    width: 100%;
    min-height: 346px;
    padding-left: 20px;
    margin: 5px 0;
    &-image {
      padding-top: 42px;

    }
    &-head {
      margin-top: 30px;
      &__h {
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.2px;
      }
    }
    &-par {
      margin-top: 27px;
      &__p {
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.2px;
      }
    }
  }
}

.o-card-1 {
  background: #a92100;
}

.o-card-2 {
  background: #ca5539;
}

.o-card-3 {
  background: #db7057;
}

.o-card-4 {
  background: #f1947c;
}

@media all and (max-width: 575px) {
  .o-card {
    max-width: 280px;
    max-height: 280px;
    margin: auto;
  }
  .o-card-content {

  }
  .o-card-content-image {
    padding-top: 24px;
  }
  .o-card-content-head {
    margin-top: 20px;
  }
  .o-card-content-par {
    margin-top: 10px;
  }
}

.slider-block {
  margin: 0;
  width: 100%;
  max-width: 100%;
  .slider-block-row {
    .slider-block-row-col-left {
      padding-right: 0;
      .list-block {
        padding-left: 77px;
        &__head {
          color: #000000;
          font-family: "Roboto Condensed";
          font-size: 38px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 0.45px;
          margin-bottom: 8px;
          margin-top: 70px;
        }
        hr {
          width: 100px;
          height: 4px;
          background: #a92100;
          margin-bottom: 90px;

        }
        .indicators-block {
          width: 100%;
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: space-around;
          margin: 0;
          bottom: 0;

          li {
            width: auto;
            height: auto;
            text-indent: 0;
            background: transparent;
            margin: 19px 0;
            &:active, &:hover {
              .base {
                display: inline-block;
              }
            }
            .base {
              background: #f89e00;
              display: none;
              height: 16px;
              margin-left: 0;
              margin-right: 15px;
              position: relative;
              width: 10px;
            }

            .base:before {
              content: "";
              position: absolute;
              right: -7px;
              bottom: 0;
              width: 0;
              height: 0;
              border-left: 7px solid #f89e00;
              border-top: 8px solid transparent;
              border-bottom: 8px solid transparent;
            }

            a {
              color: #999999;
              font-family: "Roboto Condensed";
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0.2px;
            }

          }

          li.active {
            background: transparent;
            a {
              color: #f89e00;
              font-family: "Roboto Condensed";
              font-size: 18px;
              font-weight: 700;
              line-height: 28px;
              letter-spacing: 0.2px;
            }
            .base {
              display: inline-block;
            }
          }
        }
      }
    }
    @media all and (max-width: 992px) {
      .slider-block-row-col-left {
        display: none;
      }
    }
    .slider-block-row-col-right {
      z-index: 222;
      padding-top: 115px;
      padding-left: 0;
      background: #fdbd4b;
      padding-right: 0;
    }
    @media all and (max-width: 767px) {
      .slider-block-row-col-right {
        background: white;
      }
    }
  }

}

.slide-img-block {
  position: relative;
  top: 10px;
  left: -35px;
  z-index: 999;
  img {
    max-width: 307px;
    z-index: 999;
  }
}

@media all and (max-width: 767px) {
  .slide-img-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    top: 0;
    left: 0;
    justify-content: center;
  }
}

.prod-block {
  margin-bottom: 60px;

  hr {
    width: 100px;
    height: 4px;
    background: #444444;
    float: left;
    margin-bottom: 40px;
  }
}

@media all and (min-width: 768px) {
  .prod-block {
    display: none;
    .list-block__head {
      color: #000000;
      font-family: "Roboto Condensed";
      font-size: 38px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0.45px;
    }
  }
}

.slide-content {
  &__h {
    color: #444444;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  &__p {
    color: #444444;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  .price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 38px;
    border-top: 1px #f89e00 dashed;
    border-bottom: 1px #f89e00 dashed;
    &__h {
      color: #444444;
      font-family: "Roboto Condensed";
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.2px;
      display: flex;

    }
    &__p {
      color: #444444;
      font-family: "Roboto Condensed";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      &-rub {
        color: #a92200;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.22px;
      }
      &-price {
        font-weight: 700;
        letter-spacing: 0.15px;
      }
    }
    &-btn-block {
      max-width: 416px;
      width: 90%;
      &__order {
        width: 50%;
        height: 44px;
        border-radius: 22px;
        padding-right: 10px;
        background: #a92200;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.75px;
        transition: .5s;
        &:hover {
          background: transparent;
          color: #444444;
          border: 1px solid #a92200;
        }
      }
      &__moreinfo {
        width: 50%;
        height: 44px;
        border-radius: 22px;
        border: 1px solid #444444;
        background: transparent;
        margin-left: 10px;
        text-transform: uppercase;
        color: #444444;
        font-family: "Roboto Condensed";
        font-size: 14px;
        transition: .5s;
        &:hover {
          background: transparent;
          color: #a92200;
          border: 1px solid #a92200;
          transition: 1s;
        }
      }

    }
  }
  @media all and (max-width: 767px) {
    .price-block {
      border: none;
    }
  }
}

.slide-content-down {
  margin-top: 30px;
  padding-bottom: 15px;
  background: url("../_img/content-down.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  &-callblock {
    display: flex;
    flex-direction: column;

    &__h {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      font-family: "Roboto Condensed";
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.2px;
      margin-top: 50px;
    }
    &__btn {
      display: flex;
      width: 127px;
      color: #ffffff;
      font-family: "Roboto Condensed";
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 1px dashed white;
      &:hover {
        text-decoration: none;
        color: #a92100;
        border-color: #a92100;
        transition: .5s;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .slide-content-down {
    background: url("../_img/content-down.png");
    background-size: auto
  }
}

@media all and (min-width: 1320px) {
  .slide-content-down-callblock__h {
    margin-top: 70px;
  }
}

.overflow__hidden-off {
  overflow: visible;
}

.country-container {
  width: 100%;
  max-width: 100%;
  &-row {
    &-col {
      padding-left: 0;
      padding-right: 0;
      @media all and (max-width: 768px) {
        .country-container-row-col {
          height: 228px;
        }
      }
      .geography-pros {
        display: flex;
        flex-direction: column;
        justify-items: center;
        &-block {
          height: 250px;
          padding-left: 13%;
          padding-right: 13%;

        }
        &-head {
          background: #f89e00;
          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          &__h {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 38px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0.45px;
          }
          hr {
            width: 100px;
            height: 4px;
            background: white;
            float: left;
            margin-left: 0;
          }
          &__p {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.2px;
          }
        }
        &-export {
          background: #f6ab29;
          display: flex;
          flex-direction: row;
          justify-items: center;
          &-block {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 365px;
            justify-content: space-between;
            &-countries {
              display: flex;
              flex-direction: column;
              justify-content: center;
              &__num {
                color: #ffffff;
                font-size: 118px;
                font-weight: 400;
                letter-spacing: 1.2px;
              }
              &__p {
                color: #ffffff;
                font-family: "Roboto Condensed";
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.25px;
              }
            }
          }

        }
        &-ton {
          background: #fdbc4b;
          display: flex;
          flex-direction: row;
          justify-items: center;
          overflow: hidden;
          &-block {
            width: 100%;
            max-width: 365px;
            &-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;
              &__num {
                color: #ffffff;
                font-size: 118px;
                font-weight: 400;
                letter-spacing: 1.2px;
              }
              &__p {
                color: #ffffff;
                font-family: "Roboto Condensed";
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.25px;
              }
            }
            &-img {
              position: relative;
              left: 45%;
              top: -78%;
              @media all and (max-width: 768px) {
                .geography-pros-ton-block-img__wheat {
                  position: relative;

                }
              }
              &__wheat {
                max-width: 339px;

              }
            }
          }
        }

      }
    }
  }

}

.countries {
  width: 100%;
  max-width: 710px;
  margin: auto;
  &-name {
    &-line {
      margin-top: 60px;
      color: #444444;
      font-family: "Roboto Condensed";
      font-size: 28px;
      font-weight: 700;
      line-height: 37px;
      transition: .5s;
      text-decoration: none;
      .country-btn {
        padding-right: 0;
        color: #444444;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-weight: 700;
        line-height: 37px;
        transition: .5s;
        text-decoration: none;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
        &:hover {
          color: #f89e00;
        }
      }
    }
  }
  &-map {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.news {
  margin: auto;
  margin-top: 70px;
  &-head {
    padding-left: 6%;
    padding-right: 6%;
    &__h {
      color: #444444;
      font-family: "Roboto Condensed";
      font-size: 23px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.2px;
    }
    hr {
      width: 100px;
      height: 4px;
      background: #a92100;
      margin-left: 0;
    }
  }
  &-container {
    padding: 0 5%;
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .new-col {
        max-width: 266px;
        width: 100%;
        .new-item {
          padding: 10px;
          &__date {
            color: #bdbdbd;
            font-family: "Roboto Condensed";
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
          }
          &__head {
            color: #444444;
            font-family: "Roboto Condensed";
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
    .btn-block {
      margin-top: 50px;

    }
  }
}

.cooperate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url("../_img/el-wall.png");
  background-size: cover;
  background-position: center;
  min-height: 250px;
  padding: 0 5%;
  padding-top: 110px;
  &-head {
    &__h {
      color: #ffffff;
      font-family: "Roboto Condensed";
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0.45px;
    }
    hr {
      width: 100px;
      height: 4px;
      background: #fff;
      float: none;
      margin-left: 0;
    }
  }
  &-contacts {
    display: flex;
    width: 72%;
    justify-content: space-between;
    flex-wrap: wrap;
    &-select {
      display: flex;
      justify-content: space-between;
      width: 63%;
      .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        .jq-selectbox {

        }
        .jq-selectbox__select {
          height: 44px;
          max-width: 311px;
          width: 100%;
          border-radius: 22px;
          border: 1px solid white;
          background: transparent;
          box-shadow: none;
          &:hover {
            transition: .5s;
            color: #f89e00;
            border: #f89e00 1px solid;

          }
          &:hover .jq-selectbox__select-text {
            transition: .5s;
            color: #f89e00;
          }
          &:hover .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
            fill: #f89e00;
          }
          &-text {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 15px;
            font-weight: 400;
            text-shadow: none;
            padding-left: 30px;
            padding-right: 50px;
            padding-top: 4px;
            width: 270px;
          }
          .jq-selectbox__trigger {
            border-left: none;
            .jq-selectbox__trigger-arrow {
              content: url(../_img/_svg/down-white-arrow.svg);
              position: absolute;
              border: 0;
              top: 17px;
              left: -5px;
              width: auto;
              height: auto;
            }
          }
        }
      }
      &-btnblock {
        width: 35%;
        margin-left: 5px;
        &__btn {
          height: 44px;
          max-width: 311px;
          width: 100%;
          border-radius: 22px;
          color: #444444;
          font-family: "Roboto Condensed";
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.75px;
          border: 1px solid #ffffff;
          background: #ffffff;
          &:hover {
            color: #cb5b01;
            background: transparent;
            border: 1px solid #cb5b01;
          }
        }
      }
    }
    &-num {
      width: 25%;
      &__a {
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.2px;
      }
      &__p {
        color: #c2c2c2;
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
      }
    }
  }
  @media all and (max-width: 1024px) {
    .cooperate-contacts {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }
    .cooperate-contacts-select {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
    .cooperate-contacts-select-btnblock {
      width: auto;
    }
    .cooperate-contacts-select-btnblock__btn {
      width: 311px;
      margin-bottom: 40px;
    }
    .cooperate-contacts-num {
      display: flex;
      flex-direction: column;
      justify-items: start;
      width: 100%;
    }
    .cooperate-contacts-num__p {
      display: inline-block;
    }
    .jq-selectbox__select {
      width: 100%;
    }
    .jq-selectbox {
      width: 100%;
    }
  }

}

.footer {
  height: 100%;
  min-height: 208px;
  padding-top: 45px;
  background: #edf0f2;
  .container {
    width: 100%;
    max-width: 1235px;
    .row {
      .footer-col {
        .footer-logoblock {
          &__logo {
            width: 100%;
            max-width: 146px;
          }
        }
        @media all and (max-width: 575px) {
          .footer-logoblock {
            margin: 8% 2%;
          }
        }
        .under-footer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 645px;
          justify-content: space-between;
          position: relative;
          top: -10px;
          &-made-by {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            margin-bottom: 4px;

            &__media {
              font-family: "Roboto Condensed";
              font-size: 13px;
              font-weight: 400;
              line-height: 25px;
              color: #444444;
              letter-spacing: 0.2px;
            }
            a {
              font-family: "Roboto Condensed";
              font-size: 13px;
              font-weight: 400;
              line-height: 25px;
              letter-spacing: 0.2px;
              color: #a92200;
              margin-left: 5px;
            }
          }
        }
        .footer-menu {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 4px;
          margin-left: 40px;
          &__btn {
            padding: 0;
            color: #444444;
            font-family: "Roboto Condensed";
            font-size: 15px;
            font-weight: 400;
            background: transparent;
            text-transform: uppercase;
            margin: 0 5px;
            &:hover {
              transition: .5s;
              color: #fdbc4b;
            }
          }
        }
        .under-footer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 645px;
          justify-content: space-between;
          position: relative;
          top: -10px;

          &-factory {
            display: flex;
            flex-direction: row;
            margin-left: 42px;
            margin-bottom: 7px;
            &__name {
              color: #444444;
              font-family: "Roboto Condensed";
              font-size: 12px;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0.2px;
              text-transform: uppercase;
              margin-top: 3px;
              &__law {
                text-transform: none;
              }
            }
          }

        }
        @media all and (max-width: 575px) {
          .footer-menu {
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            &__btn {
              margin: 10px 0;
            }
          }
        }
        &-block {
          padding-top: 4px;
          /*padding-left: 86px;*/
          &__h {
            color: #444444;
            font-family: "Roboto Condensed";
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.2px;
          }
          &__p, &__p a {
            color: #444444;
            font-family: "Roboto Condensed";
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.2px;
            padding-top: 10px;
          }
          &__p a:hover {
            transition: 1s;
            color: #a92100;
          }
        }
        @media all and (max-width: 575px) {
          .footer-col-block {
            padding-left: 2%;
          }
        }
      }
      .footer-col1 {

      }
      @media all and (max-width: 575px) {
        .footer-col1 {
          order: 2;
        }
      }
      .footer-col2 {

      }
      @media all and (max-width: 575px) {
        .footer-col2 {
          order: 1;
        }
      }
      .footer-col3 {
      }
      @media all and (max-width: 575px) {
        .footer-col3 {
          order: 3;
        }
      }
      .footer-col4 {
      }
      @media all and (max-width: 575px) {
        .footer-col4 {
          order: 5;
        }
      }
      .footer-col5 {
      }
      @media all and (max-width: 575px) {
        .footer-col5 {
          order: 4;
        }
      }

    }

  }
}

/* почему запрос работет только тут */
@media all and (max-width: 575px) {
  .under-footer-factory {
    margin-left: 2% !important;
  }
  .under-footer-made-by {
    margin-left: 2%;
  }
}